@using Microsoft.AspNetCore.Mvc.Localization
@model WebshopCoreTT.Models.ViewModels.RubberViewModels.IndexViewModel

@inject IViewLocalizer Localizer

<h2>@Localizer["Rubbers"]</h2><br />

<div class="row">
    <div class="col-sm-3">
        <div>
            <h6 class="font-weight-bold">@Localizer["Merk"]</h6>
            <form action="#">
                @foreach (var manufacturer in Model.ManufacturerCounterDictionary)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" />
                        <label class="form-check-label">@manufacturer.Key<span class="badge">@manufacturer.Value</span></label>
                    </div>
                }
                @*<div *ngFor='let brand of brands' class="form-group">
                        <input id="calvin" name="clothes-brand" checked="" type="checkbox">
                        <label for="calvin">{{brand?.name}}<span class="badge">{{brand?.count}}</span></label>
                    </div>*@
            </form>
        </div>
    </div>
    <div class="col-sm-9">
        @if (Model.Rubbers.Count() >= 1)
        {
            <div class="row">
                @foreach (var rubber in Model.Rubbers)
                {
                    <div class="col-sm-6 col-lg-3">
                        <div class="card w-100">
                            <a asp-controller="Home" asp-action="Index">
                                <img class="card-img-top" src=@rubber.ImagePath alt="rubber-img">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">@rubber.Name</h5>
                                @if (rubber.OnSale)
                                {
                                    <p class="card-text linethrough d-inline-block">€@rubber.Price</p>
                                    <p class="d-inline-block red"> €@rubber.SalesPrice</p>
                                }
                                else
                                {
                                    <p class="card-text">€@rubber.Price</p>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
            <br>
        }
    </div>
</div>



